{% extends 'base.html' %}
{% block head %}

<!-- index is the home page with the hero image and displaying a recipe of the week and a most recently added feature-->
<div class="container-fluid hero-image">
    <div class="container-fluid">
        <h1 class="hero-title">
            Lets Bake</h1>
        <h3 class="hero-quote">
            because then you can eat cake... or cookies...</h3>
    </div>
</div>
<div class="container-fluid">
<h3 class="why_not">Why not try?</h3>
</div>
<br>
{% endblock %}

{% block content %}
{% for Recipe in Recipes %}
<div class="container-fluid">
    <br>
    <div class="card mb-3 recipe_card">
        <div class="row gutters">
            <div class="col-md-4">
                <img src="static/images/hero.jpg" class="card-img" alt="Image Not Available">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{Recipe.name}}</h5>
                    <p class="card-text">Preparation Time: {{Recipe.prep_time}}</p>
                    <p class="card-text">Cooking Time: {{Recipe.cooking_time}}</p>
                    <p class="card-text">Serves: {{Recipe.serves}}</p>
                    <p class="card-text">Effort Level: {{Recipe.effort_level}}</p>
                    <p>
                        <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                           aria-expanded="false" aria-controls="multiCollapseExample1">Ingredients</a>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                data-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2">Method
                        </button>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                  {{Recipe.ingredients}}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                    {{Recipe.method}}
                                </div>
                            </div>
                        </div>
                        <div>
                        <a class="btn btn-info edit_btn" href="{{ url_for('edit_recipe') }}">Edit Recipe</a>
                        <a class="btn btn-info edit_btn" href="{{ url_for('delete_recipe') }}">Delete Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endfor %}
{% endblock %}