{% extends 'base.html' %}

{% block content %}
{% for Recipe in Recipes %}

<div class="container-fluid recipe_page">

    <h1>{{Recipes.name}}</h1>
    <br>
    <div class="card-body mb-3 recipe_card">
        <div class="row gutters">
            <div class="col-md-4">
                <img src="static/images/hero.jpg" class="card-img" alt="Image Not Available">
            </div>
            <div class="col-md-8">

                    <p class="card-text">Preparation Time: {{Recipe.prep_time}}</p>
                    <p class="card-text">Cooking Time: {{Recipe.cooking_time}}</p>
                    <p class="card-text">Serves: {{Recipe.serves}}</p>
                    <p class="card-text">Effort Level: {{Recipe.effort_level}}</p>
                    <p class="card-text">Ingredients: {{Recipe.ingredients}}</p>
                    <p class="card-text">Method: {{Recipe.method}}</p>
                </div>
            <button class="btn btn-info recipe_btn" type="submit" value="submit">Edit</button>
            <button class="btn btn-info recipe_btn" type="submit" value="submit">Submit</button>
            <button class="btn btn-info recipe_btn" type="submit" value="submit">Delete</button>
            </div>
        </div>
    </div>
    <br>
</div>


<!-- CRUD area for uploading, editing, and deleting to the database-->

<br>
<br>
{% endfor %}
{% endblock %}